*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #0c111b;
    min-height: 100vh;
    position: relative;
}

.navbar{
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo{
    height: 80px;
}

.menu-link{
    margin-top: -5px;
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-item a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fcee0a;
    opacity: 0.9;
}

.menu-link1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.menu-item1 a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fcee0a;
    opacity: 0.9;
}

.main {
    color: white;
    padding: 0 4%;
    /* background: red; */
    flex: 1 0 auto;
}

.main-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.main img {
    flex: 0 0 auto;
}

.main.kanan img {
    order: 2;
    align-self: flex-start;
}

.main .main-text {
    flex: 0 1 auto;
    padding: 1%;
    /* background: purple; */
    width: 100%;
}

.main .main-text h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.main .main-text h2{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.main-text p {
    font-size: 1.2em;
    max-width: 70ch;
}

.footer{
    color: #fcee0a;
    padding: 1% 4%;
    display: flex;
    align-items: right;
    justify-content: right;
}

.footer a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fcee0a;
    opacity: 0.9;
}

@media screen and (max-width: 750px) {
    .main-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main.kanan img {
        order: 0;
    }

    .main img {
        width: 80%;
    }

    .footer{
        color: #fcee0a;
        padding: 1% 4%;
        display: flex;
        align-items: left;
        justify-content: left;
    }

    .main img {
        width: 70%;
        flex: 0 0 auto;
        justify-self: center
    }

    .main .main-text {
        flex: 0 1 auto;
        padding: 1%;
    }

    .main .main-text h1{
        font-size: 30px;
    }

    .main-text p {
        font-size: 1.2em;
        width: 100%;
    }

    .main .main-text h2{
        text-align: left;
        font-size: 20px;
    }

}

